<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.lk">


    <uses-permission android:name="android.permission.CAMERA">
            </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterScreen">
        </activity>
        <activity android:name=".LoginScreen" />
        <activity android:name=".SearchForTickets"></activity>
        <activity android:name=".NoticeAddNotices" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".film_details_maintain" />
        <activity android:name=".activity_film_details_view" />
        <activity android:name=".NoticeAdminDisplayNotices" />
        <activity android:name=".NoticeUserDisplayNotices" />
        <activity android:name=".afterBooking" />
        <activity android:name=".bookTicket" />
    </application>

</manifest>